@font-face {
  font-family: GraphikLCG-Regular;
  src: url("../assets/font/GraphikLCG-Regular.woff") format("woff"), url("../assets/font/GraphikLCG-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: GraphikLCG-Semibold;
  src: url("../assets/font/GraphikLCG-Semibold.woff") format("woff"), url("../assets/font/GraphikLCG-Semibold.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
body {
  color: #000000;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin: 0;
}

h1 {
  font-size: 4.0625rem;
  font-family: "GraphikLCG-Semibold", "serif";
  line-height: 4.375rem; /* 107.692% */
}

h2 {
  font-size: 3.125rem;
  font-family: "GraphikLCG-Semibold", "serif";
  line-height: 3.75rem; /* 120% */
}

h3 {
  color: #000;
  font-family: "GraphikLCG-Semibold", "serif";
  font-size: 2.5rem;
  line-height: 3.125rem; /* 125% */
}

h4 {
  font-size: 2.1875rem;
  font-family: "GraphikLCG-Semibold", "serif";
  line-height: 3.125rem;
}

.subtitle1 {
  font-family: "GraphikLCG-Semibold", "serif";
  font-size: 1.875rem;
  line-height: 2.5rem; /* 133.333% */
}

.subtitle2 {
  font-size: 1.5625rem;
  font-family: "GraphikLCG-Regular", "serif";
  line-height: 2.1875rem; /* 140% */
}

.subtitle2a {
  color: #000;
  text-align: center;
  font-family: "GraphikLCG-Semibold", "serif";
  font-size: 1.5625rem;
  font-weight: 600;
  line-height: 2.1875rem; /* 140% */
}

.body1 {
  color: #000000;
  font-size: 1.25rem;
  font-family: "GraphikLCG-Regular", "serif";
  line-height: 1.875rem; /* 150% */
}

.body1a {
  color: #000000;
  font-size: 1.25rem;
  font-family: "GraphikLCG-Regular", "serif";
  line-height: 1.875rem; /* 150% */
  text-decoration: none;
}

.body2 {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5625rem; /* 138.889% */
}

.body4 {
  color: #000000;
  font-size: 0.9375rem;
  font-family: "GraphikLCG-Regular", "serif";
  line-height: 1.5625rem; /* 166.667% */
  text-decoration: none;
}

.body5 {
  color: #000;
  font-family: "GraphikLCG-Regular", "serif";
  font-size: 0.75rem;
  line-height: 0.9375rem;
}

.bolt {
  font-family: "GraphikLCG-Semibold", "serif";
  font-style: normal;
  font-weight: 600;
}

.mw-800 {
  max-width: 50rem;
}

.mw-720 {
  max-width: 45rem;
}

.mw-500 {
  max-width: 31.25rem;
}

.mw-400 {
  max-width: 25rem;
}

.mw-320 {
  max-width: 20rem;
}

.mw-300 {
  max-width: 18.75rem;
}

.navbar {
  --bs-navbar-padding-y: 1.5625rem;
  --bs-nav-link-font-size: 0.9375rem;
  --bs-navbar-color: #000000;
}

.navbar-nav {
  gap: 0 1.5rem;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #FF6336;
  --bs-btn-border-color: #FF6336;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #FF9C7D;
  --bs-btn-hover-border-color: #FF9C7D;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #FF6336;
  --bs-btn-active-border-color: #FF6336;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #FF9C7D;
  --bs-btn-disabled-border-color: #FF9C7D;
}

.btn-outline-secondary {
  --bs-btn-color: #000000;
  --bs-btn-border-color: rgba(0, 0, 0, 0.5);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #6c757d;
  --bs-btn-hover-border-color: #6c757d;
  --bs-btn-focus-shadow-rgb: 108,117,125;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: rgba(0, 0, 0, 0.5);
  --bs-btn-active-border-color: #6c757d;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #6c757d;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #6c757d;
  --bs-gradient: none;
}

.btn-dark {
  --bs-btn-color: #fff;
  --bs-btn-bg: #000000;
  --bs-btn-border-color: #000000;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #424649;
  --bs-btn-hover-border-color: #373b3e;
  --bs-btn-focus-shadow-rgb: 66,70,73;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #4d5154;
  --bs-btn-active-border-color: #373b3e;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #212529;
  --bs-btn-disabled-border-color: #212529;
}

.btn {
  font-family: "GraphikLCG-Semibold", "serif";
  --bs-btn-padding-x: 0.75rem;
  --bs-btn-padding-y: 0.375rem;
  --bs-btn-font-family: 16;
  --bs-btn-font-size: 1rem;
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: 1.5;
  --bs-btn-border-radius: 0;
}

.btn2 {
  font-family: "GraphikLCG-Semibold", "serif";
  --bs-btn-padding-x: 0.75rem;
  --bs-btn-padding-y: 0.8rem;
  --bs-btn-font-family: 16;
  --bs-btn-font-size: 1rem;
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: 1.5;
  --bs-btn-border-radius: 0;
}

.w120 {
  width: 7.5rem;
}

.w160 {
  width: 10rem;
}

.w200 {
  width: 12.5rem;
}

:root {
  --bs-font-sans-serif: "GraphikLCG-Regular", "serif";
}

ul, ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

li > a {
  text-decoration: none;
  color: #000000;
}

.bg-brown {
  background-color: #DABC98;
}

.bg-light-blue {
  background-color: #C9E8F2;
}

.bg-light-orange {
  background-color: #FF9C7D;
}

.bg-light-yello {
  background-color: #FFF8E4;
}

.img {
  width: 100%;
  max-width: 8rem;
  height: auto;
}

.imglogo {
  padding: 32px;
}

.img80 {
  width: 100%;
  max-width: 5rem;
  height: auto;
}

.img160 {
  width: 100%;
  max-width: 10rem;
  height: auto;
}

.img180 {
  width: 100%;
  max-width: 11.25rem;
  height: auto;
}

.h36 {
  max-height: 2.25rem;
}

.second-section {
  padding: 6.25rem 0;
}

.thrid-section {
  padding: 6.25rem 0 9.375rem 0;
}

.fourth-section {
  padding: 7.5rem 0 9.375rem 0;
}

.fifth-section {
  padding: 9.375rem 0 12.5rem 0;
}

.sixth-section {
  padding: 3.125rem 0 6.25rem 0;
}

.seventh-section {
  padding: 5.625rem 0;
}

.eighth-section {
  padding: 10.3125rem 0;
}

.nineth-section {
  padding: 7.5rem 0 10rem 0;
}

.footer {
  padding: 6.25rem 0 3.125rem 0;
}

.gap-100 {
  gap: 6.25rem;
}

.gap-80 {
  gap: 5rem;
}

.mb-80 {
  margin-bottom: 5rem;
}

.pb-95 {
  padding-bottom: 5.9375rem;
}

.pt-50 {
  padding-top: 3.125rem;
}