@mixin font-face($font-type, $font-weight) {
  $woff: "woff";
  $woff2: "woff2";
  $pathToFont: "../assets/font/" + $font-type;
  @font-face {
    font-family: $font-type;
    src: url($pathToFont + "." + $woff) format($woff), 
    url($pathToFont + "." + $woff2) format($woff2);
    font-weight: $font-weight;
    font-style: normal;
  }
}

@include font-face(GraphikLCG-Regular, 400);
@include font-face(GraphikLCG-Semibold, 500);

body {
  color: $black;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
}
p {
  margin: 0;
}
h1 {
  font-size: toRem($fs-65);
  font-family: 'GraphikLCG-Semibold', 'serif';
  line-height: toRem(70); /* 107.692% */
}
h2 {
  font-size: toRem($fs-50);
  font-family: 'GraphikLCG-Semibold', 'serif';
  line-height: toRem(60); /* 120% */
}
h3 {
  color: #000;
  font-family: 'GraphikLCG-Semibold', 'serif';
  font-size: toRem($fs-40);
  line-height: toRem(50); /* 125% */
}
h4 {
  font-size: toRem($fs-35);
  font-family: 'GraphikLCG-Semibold', 'serif';
  line-height: toRem(50);
}
.subtitle1 {
  font-family: 'GraphikLCG-Semibold', 'serif';
  font-size: toRem($fs-30);
  line-height: toRem(40); /* 133.333% */
}
.subtitle2 {
  font-size: toRem($fs-25);
  font-family: 'GraphikLCG-Regular', 'serif';
  line-height: toRem(35); /* 140% */
}
.subtitle2a {
  color: #000;
  text-align: center;
  font-family: 'GraphikLCG-Semibold', 'serif';
  font-size: toRem($fs-25);
  font-weight: 600;
  line-height: toRem(35); /* 140% */
}
.body1 {
  color: $black;
  font-size: toRem($fs-20);
  font-family: 'GraphikLCG-Regular', 'serif';
  line-height: toRem(30); /* 150% */
}
.body1a {
  color: $black;
  font-size: toRem($fs-20);
  font-family: 'GraphikLCG-Regular', 'serif';
  line-height: toRem(30); /* 150% */
  text-decoration: none;
}

.body2 {
  font-size: toRem($fs-18);
  font-weight: 400;
  line-height: toRem(25); /* 138.889% */
}

.body4 {
  color: $black;
  font-size: toRem($fs-15);
  font-family: 'GraphikLCG-Regular', 'serif';
  line-height: toRem(25); /* 166.667% */
  text-decoration: none;
}
.body5 {
  color: #000;
  font-family: 'GraphikLCG-Regular', 'serif';
  font-size: toRem($fs-12);
  line-height: toRem(15);
}
.bolt {
  font-family: 'GraphikLCG-Semibold', 'serif';
  font-style: normal;
  font-weight: 600;
}


// container-text
.mw-800 {
  max-width: toRem(800);
}
.mw-720 {
  max-width: toRem(720);
}
.mw-500 {
  max-width: toRem(500);
}
.mw-400 {
  max-width: toRem(400);
}
.mw-320 {
  max-width: toRem(320);
}
.mw-300 {
  max-width: toRem(300);
}

// $fs-65: 65; //H1
// $fs-50: 50; //H2
// $fs-50: 40; //H3
// $fs-35: 35; //H4
// $fs-30: 30; //Subtitle1
// $fs-25: 25; //Subtitle2
// $fs-20: 20; //body1
// $fs-18: 18; //body2
// $fs-16: 16; //body3
// $fs-15: 15; //body4
// $fs-12: 12; //body5
