// fonts-size
$fs-65: 65; //H1
$fs-50: 50; //H2
$fs-40: 40; //H3
$fs-35: 35; //H4
$fs-30: 30; //Subtitle1
$fs-25: 25; //Subtitle2
$fs-20: 20; //body1
$fs-18: 18; //body2
$fs-16: 16; //body3
$fs-15: 15; //body4
$fs-12: 12; //body5

// colors
$brown: #DABC98;
$orange: #FF6336;
$light-orange: #FF9C7D;
$light-yello: #FFF8E4;
$light-blue: #C9E8F2;
$black: #000000;
$light-black: rgba(0, 0, 0, 0.50);
$white: #FFFFFF;

// size
.w120 {
  width: toRem(120);
}
.w160 {
  width: toRem(160);
}
.mw-720 {
  max-width: toRem(720);
}
